.footer {
  width: 100%;
  padding: 55px 0;
  background: linear-gradient(to right, #007BFF, #6A1B9A); /* такой же градиент, как в header */
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}